/* header */
.conteiner1{
    display: flex;
    min-width: 100px;
    min-height: 80px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    /* debug */
    background-color: rgb(4, 246, 250);
    
}

.logo{
    /* debug */
        background-color: yellow;
        border: dashed black 1px;
    justify-content: left;
    display: flex;
    align-items: center;
    min-width: 10%;

}

.link{
   /* debug */
        background-color: yellow;
        border: dashed black 1px;
    min-width: 30%;
    display: flex;
    justify-content: center;
    
}

p{
    margin: 3px;
}

.logo2{
    /* debug */
        background-color: yellow;
        border: dashed black 1px;
    justify-content: right;
    display: flex;
    align-items: center;
    min-width: 10%;
    

}

/* main */

.conteiner2{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    min-height: 100px;
    align-items: center;
    padding: 50px 50px 50px 50px;
    justify-content: center;
       /* debug */
       background-color: rgb(4, 16, 250);
}
.box1{
    /* debug */
        background-color: rgb(217, 0, 255);
        border: dashed black 1px;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.conteiner3{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    min-height: 100px;
    align-items: center;
    padding: 50px 50px 50px 50px;
    justify-content: center;
       /* debug */
       background-color: rgb(249, 249, 249);
}
.box2{
    /* debug */
        background-color: rgb(0, 195, 255);
        border: dashed black 1px;
    min-width: 40%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.box3{
    /* debug */
        background-color: rgb(246, 136, 248);
        border: dashed black 1px;
    min-width: 15%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.conteiner4{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    min-height: 100px;
    align-items: center;
    padding: 50px 50px 50px 50px;
    justify-content: center;
       /* debug */
       background-color: rgb(150, 150, 150);
}

.box4{
    /* debug */
        background-color: rgb(5, 133, 32);
        border: dashed black 1px;
    width: 55%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.conteiner5{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    min-height: 100px;
    align-items: center;
    padding: 50px 50px 50px 50px;
    justify-content: center;
       /* debug */
       background-color: rgb(31, 31, 31);
}
.box5{
    /* debug */
        background-color: rgb(0, 195, 255);
        border: dashed black 1px;
    min-width: 10%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.conteiner6{
    display: flex;
    flex-direction: row;
    min-width: 100px;
    min-height: 100px;
    align-items:flex-end;
    padding-left: 30px;
    padding-right: 30px;
    justify-content:center;
    margin-top: 2px;
    margin-bottom: 2px;
    /* debug */
    background-color: rgb(31, 31, 31);
    
}
.box6{
    /* debug */
        background-color: rgb(0, 195, 255);
        border: dashed black 1px;
    min-width: 55%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo3{
    /* debug */
        background-color: rgb(246, 136, 248);
        border: dashed black 1px;
    min-width: 5%;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    

}